/* Navbar styling */
.navbar {
  width: 100%;
  background-color: #ffffff;
  color: #111111;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  /* padding: 10px 20px; */
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin-bottom: 10px;
}

/* Left side of the navbar */
.nav-left {
  display: flex;
  align-items: center;
}

/* Center of the navbar */
.nav-center {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Right side of the navbar */
.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
  /* width: 800px; */
  gap: 20px;
  list-style: none;
}

.navbar-right li {
  margin-right: 15px;
}

/* Navbar list styling */
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

/* Input field styling */
.nav-list li input {
  width: 750px; /* Adjust input width as needed */
  padding: 10px;

  border: 1px solid #bdbec0;
  margin: auto 100px;
  margin-top: 5px;
  color: black;
  border-radius: 10px;
  outline: none;
}

/* Navbar links styling */
.nav-list li:not(:last-child) {
  border-right: 1px solid #bdbec0;
}

.nav-list a {
  text-decoration: none;
  padding: 15px;
  display: flex;
  align-items: center;
  color: inherit;
  transition: background-color 0.3s ease;
  width: 80px;
}

.nav-list a:hover {
  background-color: #34495e;
}

/* Active link styling */
.active {
  background-color: #2980b9;
  color: #fff;
}

/* Notification badge styling */
.notification {
  position: relative;
}
.img_nav {
  padding: 20px;
  margin-left: 20px;
  top: 0;
}
.badge {
  position: absolute;
  /* top: px; */
  left: 40px;
  background-color: black;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
}

/* Search bar styling */
.search-bar {
  padding: 15px;
  border: 1px solid #bdbec0;
  border-radius: 5px;
  margin-right: 10px;
  /* background-color: #2c3e50; */
  color: #ecf0f1;
  /* max-width: 400px; */
  /* margin: auto 290px; */
  width: 1000px;
}

/* Message container styling */
.message-container {
  /* Add styles for message container */
}

/* Profile section styling */
.profile {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Create button styling */
.create-btn {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-btn:hover {
  background-color: #2980b9;
}

.more {
  display: flex;

  padding: 15px;
}
.more-options {
  margin-left: 20px;
}
.username {
  width: 120px;
}
